:root {
  --main-bg: black;
  --secondary-bg: #1e2021;
  --dark-bg: #1d1f20;

  --border-color: #494f52;
  --primary-color: #65D2E9;
  --primary-color-2: #E6436D;
  --text-color: #e8e6e3;
  --text-color-dark: #d0ccc6;
  --text-color-secondary: #b0a99f;
  --text-color-red: #FD2020;

  --lazy-load-bg-1: rgba(black, 0);
  --lazy-load-bg-2: rgba(black, 0.1);
}
