@import "_reset.scss";
@import "_base.scss";
@import "_fonts.scss";
@import "_vars.scss";

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  font: 400 16px/1.6 'Nunito', Roboto, Arial, sans-serif;
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  background: var(--main-bg);
  color: var(--text-color);
}

img {
  pointer-events: none;
  user-select: none;
  max-width: none;
}
